.navbar-inner{
    background-image: url('/media/tag8.JPG');
    background-repeat: no-repeat;
    height: 50vh;
    top: 50%;
    padding: 5px;
    background-size: cover;
    background-position: center right;
  }
.info{
  float: center;
  text-align: center;
}

